[submodule "static/cargs"]
	path = static/cargs
	url = https://github.com/likle/cargs.git
	branch = master
[submodule "static/json"]
	path = static/json
	url = https://github.com/nlohmann/json.git
	branch = master	
[submodule "static/glob"]
	path = static/glob
	url = https://github.com/p-ranav/glob.git
	branch = master	
