[submodule "static/json"]
	path = static/json
	url = https://github.com/nlohmann/json.git
	branch = master	
[submodule "static/argspp"]
	path = static/argspp
	url = https://github.com/dmulholl/argspp.git
	branch = master	